
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
 
:root{
    --primary-color:rgb(44, 44, 44);
    --secondary-color: rgb(188, 215, 234);
    --color-white:rgb(255, 255, 255);
    --shadow-color:rgb(174, 169, 169);
}
 
 
 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
 } 

body,html{
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    justify-self: center;
    width: 97vw;
    height: 97vh;
    background-color: var(--secondary-color);
    border-radius: 25px;
}


nav{
    width: 100%;
    height: 75px;
    padding: 20px;
    background-color:var(--color-white);
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    border-radius: 20px 20px 0 0;
}

input[type="search"]{
    width: 35vw;
    background-color: var(--shadow-color);
    border: none;
    border-radius: 20px;
    height: 35px;
    padding-left: 37px;
    padding-right: 20px;

}

/* This removes the default outline from the input filed when it is active */
input[type="search"]:focus{
    border-color: none;
    outline: none;
    cursor:bold;
}

.mode{
    background-color: var(--shadow-color);
    width: 70px;
    height: 30px;
    font-size: 22px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:20px;
}

.icon:hover{
transform: scale(1.2);
}

.toggle-colon{
    width: 100%;
    height: 30px;
    background-color:var(--color-white);
    display: flex;
    justify-content: space-around;
    gap:30vw ;
    align-items: center;
}

.day{
    width: 300px;
    /* background-color: beige; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-weight: 600;
}

.scale{
    font-weight: 600;
display: flex;
align-items: center;
gap: 25px;
}

.search-field{
  width: min-content;
  height: 40px;  
}

.fa-magnifying-glass{
    position:relative;
    top:-28px;
    left: 10px;
}

.data-section{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    height: 350px;
    background-color:var(--color-white);
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(1,2fr);
    gap: 15px;
    justify-content: center;
    align-content: center;
    
}


.present{
    border-radius: 20px; 
    place-self: center;
    width:20vw;
    height:80% ;
    background-color: var(--secondary-color);
    grid-row: 1;
    grid-column: 1/3;

}

.after{
    border-radius: 20px;  
    place-self: center;
    width: min(9.5vw,200px);
    height:70% ;
    background-color:rgb(215, 235, 250) ;
}



.new-letter{
    background-color:var(--color-white);

    height:calc(100% - 385px) ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 25px 25px;

}

.left-side{

    background-color: rgb(75, 75, 117);
    /* background-color:var(--color-white); */
    width: 50%;
    height: 100%;  
      border-radius: 0 0 0 25px;
    text-align: center;

}
.right-side{
    background-color:var(--color-white);
    width: 50%;
    height: 100%;
    border-radius: 0 0  25px 0;
    text-align: center;

}

.heading{
    background-color: rgb(173, 203, 222);
    height: 65px;
    padding: 20px;
    border-radius: 25px 25px 0 0;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-data{
    padding: 20px;
    height: 100px;
    
    font-size: 6vw;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additional-data{
    padding: 20px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;  
  
}


.after{
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.after-day{
    padding: 3px;
    text-transform: capitalize;
    font-size: min(1.6vw,20px);
}
.after >.temp{
    font-size: 25px;
    
}

.after >.emoji{
    font-size: 80px;
}

hr{
width:90%;
color: black;
border: solid 1px rgb(161, 190, 208);

}







/* Tablet mode */

@media(max-width:1000px){
   .data-section{
    grid-template-columns: repeat(9,1fr);
   }
   .present{
    grid-column: 1/4;
    width: 25vw;
   }

   .after{
    width: 10vw;
   }
  

}

@media(max-width:900px){
    .data-section{
        padding: 20px 0;
        height: fit-content;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:repeat(2,1fr);
        /* grid: wrap; */
    }
    .present{
        width: 50vw;
        height:max(300px,25vh);
        grid-column: 1/4;
        grid-row:1/2;
    }
   .after{
  grid-row: span;
width: 220px;
height: 300px;
border-radius: px;

   }
   .after-day{
    font-size: min(10vw,30px);
   }
   .main-data{
    font-size: 80px;
}

.after >.emoji{
    font-size:100px;
}
.after>.temp{
    font-size: 40px;
}
}